body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.main {
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    background-color: rgb(166, 196, 255);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #012c6d;
}

.one {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: black;
    color: white;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


input:hover {
    background-color: #00619e;
}
button:hover {
    background-color: #007bff;
}

.result {
    margin-top: 20px;
}

.result h2 {
    color:#012c6d;
}

.result p {
    font-size: 18px;
    color: #333;
}
